.footer > .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background: #1b3146;
}


.icon-photo{

  width: 5%;
  height: 8%;

}

#selDataset{

  position: center;
  /* margin-left: 15px; */


}